@import "tailwindcss";

@theme {
  /* these are the fonts used throughout the app */

  --font-sans: "Karla", sans-serif;
  --font-mono: "Noto Mono", monospace;
  --font-serif: "Noto Serif", serif;

  /*light-color scheme*/

  --color-primary: #f0f0f0;
  --color-secondary: #222222;
  --color-accent: #a3d8f4;
  --color-base: #e2f1e7;
  --color-destructive: #de1a1a;

  /*additional colors, to be used later in the app if needed*/

  --color-blue-dark: #7579e7;
  --color-blue-light: #9ab3f5;
  --color-blue-lighter: #e2f1e7;
  --color-teal-dark: #a3d8f4;
  --color-teal-light: #b9fffc;
  --color-grey-darkest: #222222;
  --color-grey-dark: #2c3333;
  --color-grey-light: #629584;
}

@layer base {
  html {
    color-scheme: light;
    font-size: 16px;
  }

  .dark {
    color-scheme: dark;

    /*overrides the light color scheme*/
    --color-primary: #2c3333;
    --color-secondary: #ffffff;
    --color-accent: #0e8388;
    --color-base: #cbe4de;
  }

  body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-sans);
  }

  button {
    background-color: var(--color-button);
    color: var(--color-bg);
  }

  button:hover {
    background-color: var(--color-accent-hover);
  }

  .error {
    color: var(--color-danger);
  }
}
